.jagrid {
    border-width: 0px;
    line-height: 20px;
    position: relative;
    border-style: solid;
    padding-left: 20px;
    overflow: hidden;
}

.jagrid .jg-header {
    background-color: #DFE3E8;
    box-shadow: none;
}
.jagrid .jg-header.column {
}
.jagrid .jg-header.row {
    position: absolute;
    margin-left: -20px;
}
.jagrid .jg-header td {
    text-align: center;
    color: #3e3e36;
    font-size: 90%;
    box-shadow: inset #b1b5ba -1px -1px 0;
}
.jagrid * {
    margin: 0;
    padding: 0;
}
.jagrid ul, .jagrid ol {
    padding-left:20px;
}
.jagrid table {
    box-shadow: #000 -1px -1px 0px;
    z-index: 10;
    border-collapse: collapse;
}
.jagrid table:not(.jg-header) {
    height: 100%;
}
.jagrid table tr:first-child td {
    height:0px;
    border: 0px;
}
.jagrid td {
    width: 20px;
    max-width: 20px;
    min-width: 20px;
    line-height: 20px;
    box-shadow: inset #000 -1px -1px 0;
}
.jagrid td > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: inset #000 -1px -1px 0;
}
.vertical {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation:upright;
    height: 100%;
}
.title {
    background-position: 3px 3px;
    background-color: lightgreen;
}
.title-all {
    background-color: darkgreen;
    color: #fff;
    text-align: center;
}
#container {
    position:absolute;
    margin-left: 20px;
}